<template name="home">
  <img src="https://s3.amazonaws.com/event-guest/event-guest.jpg">
      <h2>Event Management Onine</h2>
      <p><i>Create a customized event page. It's simple to organize festivals, 
        performances, fundraises, conferences, parties, workshops, and events of all kinds!</i></p>
      
      <h4>"Organize successful events in three easy steps:"</h4>
      <p><img src="https://s3.amazonaws.com/event-guest/1.png">&nbsp;&nbsp;<b><i>Create</i></b> an event page</p>
      <p><img src="https://s3.amazonaws.com/event-guest/2.png">&nbsp;&nbsp;<b><i>Promote</i></b> your event</p>
      <p><img src="https://s3.amazonaws.com/event-guest/3.png">&nbsp;&nbsp;<b><i>Manage</i></b> event entry</p>
  
</template>
