<template name="eventEdit">
  <h1>Hi, I am here to edit events!</h1>
  <form class="main">
    <div class="control-group">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
        <input name="title" type="text" value="" placeholder="Give your event a short distinct name"/>
        </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="location">Location</label>
      <div class="controls">
        <input name="location" type="text" value="" placeholder="Specify where your even will happen"/>
        </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="date">Date and Time</label>
      <div class="controls">
        <input name="Date" type="date" value="" placeholder=""/>
        </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="description">Description</label>
      <div class="controls">
        <textarea name="description" type="text" value="" placeholder="Tell people what is special about your event and why they won't want to miss it"></textarea>
        </div>
      </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Submit" class="btn btn-primary"/>
      </div>
    </div>
  </form>
</template>
